openapi: 3.0.1
info:
  contact:
    email: support@yapily.com
    name: Yapily Support
    url: https://docs.yapily.com/pages/resources/support/
  description: The Yapily API enables connections between your application and users'
    banks. For more information check out our [documentation](https://docs.yapily.com/).<br><br>In
    particular, make sure to view our [Getting Started](https://docs.yapily.com/pages/home/getting-started/)
    steps if this is your first time here.<br><br>While testing the API, our list
    of [sandbox credentials](https://docs.yapily.com/pages/key-concepts/sandbox-credentials/)
    maybe useful.
  title: Yapily API
  version: 2.5.0
servers:
- url: https://api.yapily.com
security:
- basicAuth: []
tags:
- description: The `Application` is the base entity that is used to interact with
    the API and contains a collection of `Institution` objects. You can have multiple
    Applications associated with your account e.g. a production application with live
    access to each `Institution` and a development application with access to sandboxes.
  name: Application
- description: The Users endpoints are used to manage each user (otherwise known as
    the PSU) in Yapily. Each user belongs to an Application and as a consequence,
    so do each `Consent` created for a particular `User`.
  name: Users
- description: An `Institution` object represents any Account Serving Payment Servicing
    Provider (ASPSP) that has been integrated and is accessible through the Yapily
    APIs (ASPSPs are entities that publish Read/Write APIs to permit, with customer
    consent, payments initiated by third party providers and/or make their customers�
    financial data available to third party providers via their API endpoints).<br><br>Any
    one of the following would be represented as Institution:<ul><li>Traditional banks
    e.g. Santander</li><li>Neo-banks e.g. Monzo</li><li>Building societies e.g. Cumberland
    Building Society</li></ul>
  name: Institutions
- description: The Consents endpoints are used to manage each `Consent` created by
    Yapily in response to an authorisation created for a user.<br><br>The `Consent`
    object contains data that identifies a user's consent for a specific `Institution`
    within a Yapily application. Other than the id of the consent, the `institution-id`
    for the corresponding `Institution` and the user identifiers (`user-uuid` and
    `application-user-id`), it contains various details that indicates how the `Consent`
    can be used.
  name: Consents
- description: 'Before calling [Financial Data](#yapily-api-financial-data) or [Payments](#yapily-api-payments)
    endpoints, a consent from an end-user must be obtained.<br><br>Consents are valid
    for up to 90 days for Financial Data endpoints and have a single-use for Payment
    endpoints i.e. a new consent must be obtained for each payment.<aside class="info">NOTE:
    A user consent is also referred to as an ''Authorisation''.</aside>'
  name: Authorisations
- description: In order to access a user's Financial Data, you are required to request
    an [Authorisation](#yapily-api-authorisations) from the user to share the account
    information the bank has. Once a `consent-token` is obtained, you can call the
    necessary Financial Data endpoint(s) to retrieve the user's data.
  name: Financial Data
- description: In order to make a Payment on behalf of a user, you are required to
    request an [Authorisation](#yapily-api-authorisations) from the user to authorise
    the user's account to make the payment from. Once a `consent-token` is obtained,
    you can call the necessary Payments endpoint(s) to execute a payment.
  name: Payments
- description: |+
    The Financial Profile endpoints assist in collating authorised consents for a user which can subsequently be used to classify user income streams across multiple accounts. For each income stream, the financial profile determines the frequency and score that describes how well the income stream fits to that schedule.

  name: Financial Profile
- description: "The Notifications endpoints provide an interactive way for user to\
    \ receive notifications according to different event-types. This feature is currently\
    \ in private beta. Please reach out if you require access. \n\n"
  name: Notifications
- description: Virtual accounts can be used within PIS associated flow of funds in
    order to take advantage of payment features such as receipt of funds, reconciliation,
    funds handling and settlement. Accounts can be created, managed and enquired upon
    using these endpoints
  name: Virtual Accounts
- description: 'Variable Recurring Payments enables transfer of money between accounts
    held by the same person or transfer of money for business payments. <br><br>In
    order to make Sweeping Variable Recurring Payments on behalf of a user, you are
    required to request an [Consent](#yapily-api-authorisations) from the user by
    calling the Sweeping Consent endpoint to authorise the user''s account to make
    the payment. Once a `consent-token` is obtained, you can call the Payments endpoint
    to execute the Sweeping Variable Recurring Payments transaction. Before executing
    the payment, you have the option to confirm availability of funds in the user''s
    account by calling the Funds Confirmation endpoint. <br><br>See [VRP Payments](https://docs.yapily.com/guides/payments/payment-execution/vrps/)
    for more information. '
  name: Variable Recurring Payments
paths:
  /account-auth-requests:
    patch:
      description: Used to prompt the account holder for continued access to their
        financial data. This endpoint should be used when a `Consent` that was previously
        `AUTHORIZED` can no longer be used to retrieve data.<br><br>See [Re-Authorisation](https://docs.yapily.com/pages/key-concepts/account-data/account-consents/#re-authorisation)
        for more information.
      operationId: reAuthoriseAccount
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-patch'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Re-authorise Account Consent
      tags:
      - Authorisations
      x-accepts: application/json;charset=UTF-8
    post:
      description: 'Used to initiate the authorisation process and direct users to
        the login screen of their financial institution in order to give consent to
        access account data.<br><br>See [Redirect Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/redirect-account-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_ACCOUNT_REQUEST`'
      operationId: initiateAccountRequest
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              CBI Globe Example Request:
                $ref: '#/components/examples/cbi-globe-example-acc-auth-request'
              OBIE Example Request:
                $ref: '#/components/examples/obie-example-acc-auth-request'
            schema:
              $ref: '#/components/schemas/AccountAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                CBI Globe Example Response:
                  $ref: '#/components/examples/cbi-globe-example-acc-auth-response'
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-post'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Account Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
    put:
      description: 'Used to continue the authorisation process and for any `Institution`
        that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to
        the login screen of their financial institution in order to give consent to
        access account data. <br><br>See [Redirect Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/redirect-account-flows/)
        for more information about this flow. <br><br>Features: <ul><li>`INITIATE_ACCOUNT_REQUEST`</li><li>`INITIATE_PRE_AUTHORISATION`</li></ul>'
      operationId: updatePreAuthoriseAccountConsent
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group Example Request:
                $ref: '#/components/examples/berlin-group-example-acc-auth-request'
            schema:
              $ref: '#/components/schemas/AccountAuthorisationRequest'
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-put'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Account Pre-authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /accounts:
    get:
      description: 'Used to return all accounts and balances for the end user associated
        with the presented consent token.<br><br>Feature: `ACCOUNTS`'
      operationId: getAccounts
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-accounts-response'
              schema:
                $ref: '#/components/schemas/AccountApiListResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Accounts
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}:
    get:
      description: 'Used to return the account and balance information for the end
        user associated with the presented consent token.<br><br>Feature: `ACCOUNTS`'
      operationId: getAccount
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-account-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccount'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/balances:
    get:
      description: "Used to return the balance for the end user associated with the\
        \ presented consent token.<br><br>\n__Note__: This endpoint is only for obtaining\
        \ the balance information of an account belonging to an `Institution` that\
        \ exposes their APIs through the [CBI Globe Gateway](https://docs.yapily.com/pages/knowledge/open-banking/cbi_globe//).\
        \ If the `Institution` you wish to obtain balance data is not in the CBI Globe,\
        \ use [Get Account](https://docs.yapily.com/api/reference/#operation/getAccount)\
        \ or [Get Accounts](https://docs.yapily.com/api/reference/#operation/getAccounts)\
        \ to get balance data. <br><br>Feature: `ACCOUNT_BALANCES` "
      operationId: getAccountBalances
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                CBI Globe Example Response:
                  $ref: '#/components/examples/cbi-globe-example-acc-balance-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfBalances'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Balances
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/beneficiaries:
    get:
      description: 'Used to get all the beneficiaries of a user''s account<br><br>Feature:
        `ACCOUNT_BENEFICIARIES`'
      operationId: getBeneficiaries
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-beneficiaries-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfBeneficiary'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Beneficiaries
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/direct-debits:
    get:
      description: 'Used to get the list of direct debits for an account.<br><br>Feature:
        `ACCOUNT_DIRECT_DEBIT`'
      operationId: getAccountDirectDebits
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-direct-debits-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfDirectDebitResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Direct Debits
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/periodic-payments:
    get:
      description: 'Used to get the list of periodic payments (standing orders in
        the UK) for an account.<br><br>Feature: `ACCOUNT_PERIODIC_PAYMENTS`'
      operationId: getAccountPeriodicPayments
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-periodic-payments-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfPaymentResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Periodic Payments
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/scheduled-payments:
    get:
      description: 'Used to get the list of scheduled payments for an account.<br><br>Feature:
        `ACCOUNT_SCHEDULED_PAYMENT`'
      operationId: getAccountScheduledPayments
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-scheduled-payments-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfPaymentResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Scheduled Payments
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/statements:
    get:
      description: 'Used to get the list of statements for an account.<br><br>Feature:
        `ACCOUNT_STATEMENTS`'
      operationId: getStatements
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: '__Optional__. Returned transactions will be on or after this
          date (yyyy-MM-dd''T''HH:mm:ss.SSSZ). '
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. Returned transactions will be on or before this
          date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Sort transaction records by date ascending with
          'date' or descending with '-date'. The default sort order is descending
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        style: form
      - description: __Optional__. The number of transaction records to be skipped.
          Used primarily with paginated results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/account-statements-example-esponse'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfAccountStatement'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Statements
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/statements/{statementId}:
    get:
      description: 'Used to get a statement for an account.<br><br>Feature: `ACCOUNT_STATEMENT`'
      operationId: getStatement
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The statement Id of the statement file.
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  description: Example Response
                  value:
                    meta:
                      tracingId: 8bacaae3025647efa1891157993e32fb
                    data:
                      id: "700014000000000000000002"
                      startDateTime: 2017-08-01T00:00:00Z
                      endDateTime: 2017-08-31T23:59:59Z
                      creationDateTime: 2017-09-01T00:00:00Z
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountStatement'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Statement
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /accounts/{accountId}/statements/{statementId}/file:
    get:
      description: 'Used to get the statement file for an account.<br><br>Feature:
        `ACCOUNT_STATEMENT_FILE`'
      operationId: getStatementFile
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The statement Id of the statement file.
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Statement File
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8,application/pdf
  /accounts/{accountId}/transactions:
    get:
      description: 'Used to get the account transactions for an account<br><br>Feature:
        `ACCOUNT_TRANSACTIONS`'
      operationId: getTransactions
      parameters:
      - description: __Mandatory__. The account Id of the user's bank account.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Can be `categories` or `merchant`. When set, will
          include enrichment data in the transactions returned. <br><br>Enrichment
          data is optional, e.g. when 'merchant' enrichment data is requested, the
          enrichment response will include merchant data only if it can be evaluated
          from the transaction.
        explode: true
        in: query
        name: with
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: '__Optional__. Returned transactions will be on or after this
          date (yyyy-MM-dd''T''HH:mm:ss.SSSZ). '
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. Returned transactions will be on or before this
          date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. Sort transaction records by date ascending with
          'date' or descending with '-date'. The default sort order is descending
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        style: form
      - description: __Optional__. The number of transaction records to be skipped.
          Used primarily with paginated results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. This property is not currently in use.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/account-transactions-example-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfTransaction'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Account Transactions
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /bulk-payment-auth-requests:
    post:
      description: 'Used to initiate the authorisation process and direct users to
        the login screen of their financial Institution in order to give their consent
        for a bulk payment. See [Bulk Payments](https://docs.yapily.com/pages/key-concepts/payments/payment-execution/bulk-payments/)
        for more information. <br><br>See [Redirect Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/redirect-payment-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_BULK_PAYMENT`'
      operationId: createBulkPaymentAuthorisation
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              UK Bulk Payment Example Request:
                $ref: '#/components/examples/uk-bulk-payment-auth-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                UK Bulk Payment Example Response:
                  $ref: '#/components/examples/uk-bulk-payment-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Bulk Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /bulk-payments:
    post:
      description: 'Used to initiate a bulk payment after obtaining the user''s authorisation.
        <br><br>Feature: `CREATE_BULK_PAYMENT`'
      operationId: createBulkPayment
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              UK Bulk Payment Example Request:
                $ref: '#/components/examples/uk-bulk-payment-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                UK Bulk Payment Example Response:
                  $ref: '#/components/examples/uk-bulk-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Bulk Payment
      tags:
      - Payments
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /categories/{country}:
    get:
      description: Used to retrieve the list of categories returned by the Yapily
        Categorisation engine for a given locale. <br><br>See [Data Enrichment](https://docs.yapily.com/pages/key-concepts/account-data/data-enrichment/intro-to-data-enrichment/)
        for more information.
      operationId: getCategories
      parameters:
      - description: __Mandatory__. The 2 letter country code e.g. 'GB'.
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/categories-example-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfCategory'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Categories
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /consent-auth-code:
    post:
      description: Used to obtain a Yapily Consent object containing the `consentToken`
        once the user has authenticated and you have an OAuth2 authorisation code
        `auth-code` and state `auth-state`.
      operationId: createConsentWithCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentAuthCodeRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/consent-auth-code-example-response'
              schema:
                $ref: '#/components/schemas/Consent'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Exchange OAuth2 Code
      tags:
      - Consents
      x-contentType: application/json
      x-accepts: application/json;charset=UTF-8
  /consent-one-time-token:
    post:
      description: Exchange a One-time-token for the consent token
      operationId: getConsentBySingleAccessConsent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneTimeTokenRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/consent-one-time-token-example-response'
              schema:
                $ref: '#/components/schemas/Consent'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Exchange One Time Token
      tags:
      - Consents
      x-contentType: application/json
      x-accepts: application/json;charset=UTF-8
  /consents:
    get:
      description: Used to retrieve all the consents created for each user within
        an application
      operationId: getConsents
      parameters:
      - description: __Optional__. Filter records based on the list of `applicationUserId`
          users provided.
        explode: true
        in: query
        name: filter[applicationUserId]
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: __Optional__. Filter records based on the list of `userUuid`
          users provided.
        explode: true
        in: query
        name: filter[userUuid]
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: __Optional__. Filter records based on the list of `Institution`
          provided.
        explode: true
        in: query
        name: filter[institution]
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: __Optional__. Filter records based on the list of `Consent` [statuses](https://docs.yapily.com/api/reference/#operation/getConsents!c=200&path=data/status&t=response).
        explode: true
        in: query
        name: filter[status]
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: '__Optional__. Returned transactions will be on or after this
          date (yyyy-MM-dd''T''HH:mm:ss.SSSZ). '
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. Returned transactions will be on or before this
          date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: __Optional__. The maximum number of transaction records to be
          returned. Must be between 0 and 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: __Optional__. The number of transaction records to be skipped.
          Used primarily with paginated results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/consents-example-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfConsent'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Consents
      tags:
      - Consents
      x-accepts: application/json;charset=UTF-8
  /consents/{consentId}:
    delete:
      description: Delete a consent using the consent Id
      operationId: delete
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        explode: false
        in: path
        name: consentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: __Optional__. Whether to force the deletion.
        explode: true
        in: query
        name: forceDelete
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/consent-delete-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfConsentDeleteResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Delete Consent
      tags:
      - Consents
      x-accepts: application/json;charset=UTF-8
    get:
      description: Get consent using the consent Id
      operationId: getConsentById
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        explode: false
        in: path
        name: consentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/consent-get-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfConsent'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Consent
      tags:
      - Consents
      x-accepts: application/json;charset=UTF-8
  /embedded-account-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution`
        that contains the `INITIATE_EMBEDDED_ACCOUNT_REQUEST` feature in order to
        obtain the the user''s authorisation to access their account information.
        <br><br>See [Embedded Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/embedded-account-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_ACCOUNT_REQUEST`'
      operationId: initiateEmbeddedAccountRequest
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group Example Request:
                $ref: '#/components/examples/berlin-group-example-embedded-acc-auth-request'
            schema:
              $ref: '#/components/schemas/EmbeddedAccountAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group (Multiple SCA Methods) Example Response:
                  $ref: '#/components/examples/berlin-group-multiple-sca-methods-example-response'
                Berlin Group (Single SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-single-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfEmbeddedAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Account Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /embedded-account-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and
        the SCA method selected by the user where multiple SCA methods are supported
        by the `Institution`) in order to complete the embedded authorisation to access
        the user''s financial data. <br><br>See [Embedded Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/embedded-account-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_ACCOUNT_REQUEST`'
      operationId: updateEmbeddedAccountRequest
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        explode: false
        in: path
        name: consentId
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-sca-code-example-request'
              Berlin Group (Selected SCA Method) Example Request:
                $ref: '#/components/examples/berlin-group-selected-sca-method-example-request'
            schema:
              $ref: '#/components/schemas/EmbeddedAccountAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-sca-code-example-response'
                Berlin Group (Selected SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-selected-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfEmbeddedAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Account Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /embedded-bulk-payment-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution`
        that contains the `INITIATE_EMBEDDED_BULK_PAYMENT` feature in order to obtain
        the the user''s authorisation for a bulk payment. See [Bulk Payments](https://docs.yapily.com/pages/key-concepts/payments/payment-execution/bulk-payments/)
        for more information. <br><br> See [Embedded Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/embedded-payment-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_BULK_PAYMENT`'
      operationId: createEmbeddedBulkPaymentAuthorisation
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Embedded Bulk Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Embedded Bulk Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Bulk Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /embedded-bulk-payment-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and
        the SCA method selected by the user where multiple SCA methods are supported
        by the `Institution`) in order to complete the embedded authorisation to initiate
        a bulk payment. See [Bulk Payments](https://docs.yapily.com/pages/key-concepts/payments/payment-execution/bulk-payments/)
        for more information. <br><br>See [Embedded Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/embedded-payment-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_BULK_PAYMENT`'
      operationId: updateEmbeddedBulkPaymentAuthorisation
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        explode: false
        in: path
        name: consentId
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Embedded Bulk Payment (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-sca-code-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Embedded Bulk Payment (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-sca-code-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Bulk Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /embedded-payment-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution`
        that contains the `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT` feature in order
        to obtain the the user''s authorisation for a payment.<br><br> See [Embedded
        Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/embedded-payment-flows/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT`'
      operationId: createEmbeddedPaymentAuthorisation
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-embedded-payment-example-request'
            schema:
              $ref: '#/components/schemas/PaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-embedded-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /embedded-payment-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and
        the SCA method selected by the user where multiple SCA methods are supported
        by the `Institution`) in order to complete the embedded authorisation to initiate
        a payment. <br><br> See [Embedded Payment Flows](https://docs.yapily.com/guides/payments/payment-authorisation-flows/embedded/)
        for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT`'
      operationId: updateEmbeddedPaymentAuthorisation
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        explode: false
        in: path
        name: consentId
        required: true
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-sca-code-example-request'
              Berlin Group EUR Single Domestic Payment (Selected SCA Method) Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-selected-sca-method-example-request'
            schema:
              $ref: '#/components/schemas/PaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-sca-code-example-response'
                Berlin Group EUR Single Domestic Payment (Selected SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-selected-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
  /features:
    get:
      description: 'Used to retrieve all features available from Yapily. Each `Institution`
        supports a one, many or all of these features and can be seen in the features
        field of the `Institution` object.<br><br>Note: Every `Institution` does not
        necessarily support every feature. To see which features are available for
        a particular Institution, use either the [Get Institutions](https://docs.yapily.com/api/reference/#operation/getInstitutions)
        or [Get Institution](https://docs.yapily.com/api/reference/#operation/getInstitution)
        endpoint and check the features array within the `Institution` payload.'
      operationId: getFeatureDetails
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/features-example-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfFeatureDetails'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Features
      tags:
      - Institutions
      x-accepts: application/json;charset=UTF-8
  /identity:
    get:
      description: 'Used to get the identity information for an account.<br><br>Feature:
        `IDENTITY`'
      operationId: getIdentity
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/identity-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfIdentity'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Identity
      tags:
      - Financial Data
      x-accepts: application/json;charset=UTF-8
  /institutions:
    get:
      description: Used to retrieve all `Institutions` within an application
      operationId: getInstitutions
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/institutions-example-response'
              schema:
                $ref: '#/components/schemas/ApiListResponseOfInstitution'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Institutions
      tags:
      - Institutions
      x-accepts: application/json;charset=UTF-8
  /institutions/{institutionId}:
    get:
      description: Used to retrieves details of a specific `Institution` within an
        application
      operationId: getInstitution
      parameters:
      - description: __Mandatory__. The Yapily institution Id for the `Institution`.
        explode: false
        in: path
        name: institutionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/institution-example-response'
              schema:
                $ref: '#/components/schemas/Institution'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Institution
      tags:
      - Institutions
      x-accepts: application/json;charset=UTF-8
  /me:
    get:
      description: Get the information about the institutions configured in your application
      operationId: getApplicationMe
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/me-example-response'
              schema:
                $ref: '#/components/schemas/Application'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Application Self
      tags:
      - Application
      x-accepts: application/json;charset=UTF-8
  /payment-auth-requests:
    post:
      description: Used to initiate the authorisation process and direct users to
        the login screen of their financial Institution in order to give their consent
        for a payment. This endpoint is used to initiate all the different payment
        listed below. Based on the type of payment you wish to make, you may be required
        to provide specific properties in [PaymentRequest](https://docs.yapily.com/api/reference/#operation/createPaymentAuthorisation!path=paymentRequest&t=request).
        First make sure that the payment feature you wish to execute is supported
        by the bank by checking the features array in [GET Institution](https://docs.yapily.com/api/reference/#operation/getInstitution).
        <br><br>See [Redirect Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/redirect-payment-flows/)
        for more information about this flow.<br><br>Features:<ul><li>`INITIATE_DOMESTIC_PERIODIC_PAYMENT`</li><li>`INITIATE_DOMESTIC_SCHEDULED_PAYMENT`</li><li>`INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT`</li><li>`INITIATE_DOMESTIC_SINGLE_PAYMENT`</li><li>`INITIATE_INTERNATIONAL_PERIODIC_PAYMENT`</li><li>`INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT`</li><li>`INITIATE_INTERNATIONAL_SINGLE_PAYMENT`</li></ul>
      operationId: createPaymentAuthorisation
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              EUR Single Domestic Example Request:
                $ref: '#/components/examples/eur-single-domestic-payment-auth-example-request'
              GBP Single Domestic Example Request:
                $ref: '#/components/examples/gbp-single-domestic-payment-auth-example-request'
            schema:
              $ref: '#/components/schemas/PaymentAuthorisationRequest'
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              examples:
                EUR Single Domestic Example Response:
                  $ref: '#/components/examples/eur-single-domestic-payment-auth-example-response'
                GBP Single Domestic Example Response:
                  $ref: '#/components/examples/gbp-single-domestic-payment-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Payment Authorisation
      tags:
      - Authorisations
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
    put:
      description: 'Used to continue the authorisation process and for any `Institution`
        that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to
        the login screen of their financial institution in order to give consent to
        initiate a payment. <br><br>See [Redirect Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/redirect-payment-flows/)
        for more information about this flow. <br><br>Feature: `INITIATE_PRE_AUTHORISATION`'
      operationId: updatePaymentAuthorisation
      parameters:
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. Represents the user's login ID for the `Institution`
          to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
        style: simple
      - description: __Conditional__. The IP address of the PSU. <br><br>See [PSU
          identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/)
          to see if this header is required.
        explode: false
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
        style: simple
      - description: __Mandatory__. The `consent-token` containing the user's authorisation
          to make the request.
        example: '{consentToken}'
        explode: false
        in: header
        name: consent
        required: true
        schema:
          type: string
        style: simple
      - description: __Optional__. Used to obtain the raw request and response to
          and from the <code>Institution</code>.
        explode: true
        in: query
        name: raw
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-example-request'
            schema:
              $ref: '#/components/schemas/PaymentAuthorisationRequest'
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
[...]
