{
  "swagger": "2.0",
  "info": {
    "description": "To access endpoints that require authentication, use your application key and secret created in the Dashboard (https://dashboard.yapily.com)",
    "version": "0.0.290",
    "title": "Yapily API"
  },
  "host": "api.yapily.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Statements",
      "description": " "
    },
    {
      "name": "Transfers",
      "description": " "
    },
    {
      "name": "Applications",
      "description": " "
    },
    {
      "name": "Categories",
      "description": " "
    },
    {
      "name": "Accounts",
      "description": " "
    },
    {
      "name": "Balances",
      "description": " "
    },
    {
      "name": "Institutions",
      "description": " "
    },
    {
      "name": "Consents",
      "description": " "
    },
    {
      "name": "Identity",
      "description": " "
    },
    {
      "name": "Transactions",
      "description": " "
    },
    {
      "name": "Institutions Open Data",
      "description": " "
    },
    {
      "name": "Application Users",
      "description": " "
    },
    {
      "name": "Payments",
      "description": " "
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/account-auth-requests": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Initiate a new account request for user to authorize",
        "operationId": "initiateAccountRequestUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "accountAuthRequest",
            "description": "accountAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update pre authorize consent for user to authorise account",
        "operationId": "updatePreAuthoriseAccountConsentUsingPUT",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "accountAuthRequest",
            "description": "accountAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Re-authorize account request",
        "operationId": "reAuthoriseAccountUsingPATCH",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAuthorisationRequestResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts",
        "operationId": "getAccountsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfAccount"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account",
        "operationId": "getAccountUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAccount"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Get account balances",
        "operationId": "getAccountBalancesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfBalances"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account direct debits",
        "operationId": "getAccountDirectDebitsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Use this parameter to limit account's direct debit results",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfPaymentResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/periodic-payments": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account payments detail",
        "operationId": "getAccountPeriodicPaymentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Use this parameter to limit account's periodic payment order results",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfPaymentResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/scheduled-payments": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account scheduled payments",
        "operationId": "getAccountScheduledPaymentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Use this parameter to limit account's scheduled payment results",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfPaymentResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/statements": {
      "get": {
        "tags": [
          "Statements"
        ],
        "summary": "Get account statements",
        "operationId": "getStatementsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "before",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort",
            "required": false,
            "type": "string",
            "enum": [
              "date",
              "-date"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfAccountStatement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "tags": [
          "Statements"
        ],
        "summary": "Get account statement",
        "operationId": "getStatementUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "statementId",
            "in": "path",
            "description": "statementId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAccountStatement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/statements/{statementId}/file": {
      "get": {
        "tags": [
          "Statements"
        ],
        "summary": "Get account statement file",
        "operationId": "getStatementFileUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "statementId",
            "in": "path",
            "description": "statementId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get account transactions",
        "operationId": "getTransactionsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "name": "with",
            "in": "query",
            "description": "with",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "before",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort",
            "required": false,
            "type": "string",
            "enum": [
              "date",
              "-date"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "cursor",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfTransaction"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/accounts/{accountId}/transfer": {
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Transfer money from one account to another account accessible with the same consent",
        "operationId": "transferUsingPUT",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transferRequest",
            "description": "transferRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TransferRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfTransferResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/bulk-payment-auth-requests": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate bulk payment for user to authorise",
        "operationId": "createBulkPaymentAuthorisationUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentAuthRequest",
            "description": "paymentAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkPaymentAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/bulk-payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create bulk payment",
        "operationId": "createBulkPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentRequest",
            "description": "paymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkPaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/categories/{country}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Retrieves a list of categories returned by the Yapily Categorisation engine for a given locale",
        "operationId": "getCategoriesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "country",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfCategory"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/consent-auth-code": {
      "post": {
        "tags": [
          "Consents"
        ],
        "summary": "Post auth-code and auth-state",
        "operationId": "createConsentWithCodeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "consentByAuthCode",
            "description": "consentByAuthCode",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsentAuthCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Consent"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/consent-one-time-token": {
      "post": {
        "tags": [
          "Consents"
        ],
        "summary": "Post one time token",
        "operationId": "getConsentBySingleAccessConsentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "oneTimeToken",
            "description": "oneTimeToken",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OneTimeTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Consent"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/consents": {
      "get": {
        "tags": [
          "Consents"
        ],
        "summary": "Get consents sorted by creation date",
        "operationId": "getConsentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "filter[applicationUserId]",
            "in": "query",
            "description": "Filter consents by your application user Id (applicationUserId)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[userUuid]",
            "in": "query",
            "description": "Filter consents by Yapily user Id (userUuid)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[institution]",
            "in": "query",
            "description": "Use this parameter to filter consent by institution, using the Yapily institution Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Use this parameter to filter consent by status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Use this parameter to filter consents created after the date specified",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Use this parameter to filter consents created before the date specified",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Use this parameter to limit consent results, max limit is 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Use this parameter to specify the offset of the results",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfConsent"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/consents/{consentId}": {
      "get": {
        "tags": [
          "Consents"
        ],
        "summary": "Get consent",
        "operationId": "getConsentByIdUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "consentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfConsent"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Consents"
        ],
        "summary": "Delete consent",
        "operationId": "deleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "consentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "forceDelete",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfConsentDeleteResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/delete-users": {
      "get": {
        "tags": [
          "Application Users"
        ],
        "summary": "Get details of all user deletion jobs",
        "operationId": "getDeleteUsersJobsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfBulkUserDelete"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Application Users"
        ],
        "summary": "Start a job to delete application users by specifying their identifiers",
        "operationId": "startDeleteUsersJobUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "userDeleteRequest",
            "description": "userDeleteRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfBulkUserDeleteDetails"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/delete-users/{job-id}": {
      "get": {
        "tags": [
          "Application Users"
        ],
        "summary": "Get details of a user deletion job",
        "operationId": "getDeleteUsersJobUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "job-id",
            "in": "path",
            "description": "job-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfBulkUserDeleteDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/features": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Retrieve details for Yapily's institution features",
        "operationId": "getFeatureDetailsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfFeatureDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/identity": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Get identity",
        "operationId": "getIdentityUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfIdentity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/institutions": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Retrieves the list of institutions available in Yapily",
        "operationId": "getInstitutionsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiListResponseOfInstitution"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/institutions/{institutionId}": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Retrieves details of a specific institution available in Yapily",
        "operationId": "getInstitutionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "institutionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/institutions/{institutionId}/atms": {
      "get": {
        "tags": [
          "Institutions Open Data"
        ],
        "summary": "Retrieves data about all ATMs of the selected institution",
        "operationId": "getATMDataUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "institutionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfListOfATMOpenDataResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/institutions/{institutionId}/personal-current-accounts": {
      "get": {
        "tags": [
          "Institutions Open Data"
        ],
        "summary": "Retrieves details of personal current accounts for an institution",
        "operationId": "getPersonalCurrentAccountsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "institutionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfListOfPersonalCurrentAccountData"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns the details of the application that owns the request credentials",
        "operationId": "getApplicationMeUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/payment-auth-requests": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a payment for user to authorise",
        "operationId": "createPaymentAuthorisationUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentAuthRequest",
            "description": "paymentAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Update pre authorize consent for user to authorise payment",
        "operationId": "updatePaymentAuthorisationUsingPUT",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentAuthRequest",
            "description": "paymentAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/payment-sortcode": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a new single payment",
        "operationId": "createPaymentWithSortCodeUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentRequest",
            "description": "paymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SortCodePaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ],
        "deprecated": true
      }
    },
    "/payment-sortcode-auth-requests": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a new single payment for user to authorise",
        "operationId": "createPaymentAuthorisationWithSortCodeUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentAuthRequest",
            "description": "paymentAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SortCodePaymentAuthRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ],
        "deprecated": true
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a payment",
        "operationId": "createPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentRequest",
            "description": "paymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get status of a payment",
        "operationId": "getPaymentStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/payments/{paymentId}/details": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payments detail",
        "operationId": "getPaymentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "header",
            "description": "Consent Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "psu-id",
            "in": "header",
            "description": "PSU ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-corporate-id",
            "in": "header",
            "description": "PSU ID CORPORATE",
            "required": false,
            "type": "string"
          },
          {
            "name": "psu-ip-address",
            "in": "header",
            "description": "PSU IP ADDRESS",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfPaymentResponses"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/pre-auth-requests": {
      "post": {
        "tags": [
          "Consents"
        ],
        "summary": "Initiate request for user to pre authorise",
        "operationId": "createPreAuthorisationRequestUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "preAuthorisationRequest",
            "description": "preAuthorisationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreAuthorisationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfAuthorisationRequestResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Application Users"
        ],
        "summary": "Get application users",
        "operationId": "getUsersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "filter[applicationUserId]",
            "in": "query",
            "description": "Filter users by the provided application user Id (applicationUserId) when the user was created.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationUser"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Application Users"
        ],
        "summary": "Add an application user",
        "operationId": "addUserUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "newApplicationUser",
            "description": "newApplicationUser",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewApplicationUser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationUser"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/users/{userUuid}": {
      "get": {
        "tags": [
          "Application Users"
        ],
        "summary": "Get an application user",
        "operationId": "getUserUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "userUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationUser"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Application Users"
        ],
        "summary": "Delete an application user and sub-resources (including consent resources on institution APIs if they exist)",
        "operationId": "deleteUserUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "userUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponseOfUserDeleteResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/users/{userUuid}/consents": {
      "get": {
        "tags": [
          "Consents"
        ],
        "summary": "Get latest user consents",
        "operationId": "getUserConsentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "userUuid",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[institution]",
            "in": "query",
            "description": "Use this parameter to filter consent by institution, using the Yapily institution Id. This replaces the deprecated `institutionId` query param.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Use this parameter to limit consent results, max limit is 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Consent"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ],
        "deprecated": true
      },
      "post": {
        "tags": [
          "Consents"
        ],
        "summary": "Post consent",
        "operationId": "addConsentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "userUuid",
            "in": "path",
            "description": "userUuid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "createConsentAccessToken",
            "description": "createConsentAccessToken",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConsentAccessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Consent"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "tokenAuth": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "tokenAuth": {
      "type": "oauth2",
      "tokenUrl": "https://iam.yapily.com/auth/realms/open-banking/protocol/openid-connect/token",
      "flow": "application",
      "scopes": {
        "institutions": "Getting institution data",
        "payments": "Executing payments",
        "certificate": "Manage certificates",
        "accounts": "Account data",
        "consent": "Consents access",
        "user": "Manage users",
        "register": "Institution registration management"
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Account Id returned by the institution if present"
        },
        "type": {
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Product name as defined by the financial institution for this account"
        },
        "balance": {
          "type": "number"
        },
        "currency": {
          "type": "string",
          "description": "ISO 4217 currency code"
        },
        "usageType": {
          "type": "string",
          "enum": [
            "PERSONAL",
            "BUSINESS",
            "OTHER",
            "UNKNOWN"
          ]
        },
        "accountType": {
          "type": "string",
          "enum": [
            "CASH_TRADING",
            "CASH_INCOME",
            "CASH_PAYMENT",
            "CHARGE_CARD",
            "CHARGES",
            "COMMISSION",
            "CREDIT_CARD",
            "CURRENT",
            "E_MONEY",
            "LIMITED_LIQUIDITY_SAVINGS_ACCOUNT",
            "LOAN",
            "MARGINAL_LENDING",
            "MONEY_MARKET",
            "MORTGAGE",
            "NON_RESIDENT_EXTERNAL",
            "OTHER",
            "OVERDRAFT",
            "OVERNIGHT_DEPOSIT",
            "PREPAID_CARD",
            "SALARY",
            "SAVINGS",
            "SETTLEMENT",
            "TAX",
            "UNKNOWN"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "Name of the account as defined by the financial institution or the end user"
        },
        "details": {
          "type": "string",
          "description": "Specifications that might be provided by the institution\n- characteristics of the account\n- characteristics of the relevant card"
        },
        "accountNames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountName"
          }
        },
        "accountIdentifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountIdentification"
          }
        },
        "accountBalances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountBalance"
          }
        }
      }
    },
    "OverdraftOverdraftTierBand": {
      "type": "object",
      "properties": {
        "BankGuaranteedIndicator": {
          "type": "boolean"
        },
        "EAR": {
          "type": "string"
        },
        "Identification": {
          "type": "string"
        },
        "Notes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "OverdraftFeesCharges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OverdraftOverdraftFeesCharges"
          }
        },
        "OverdraftInterestChargingCoverage": {
          "type": "string",
          "enum": [
            "Tiered",
            "Whole"
          ]
        },
        "TierValueMax": {
          "type": "string"
        },
        "TierValueMin": {
          "type": "string"
        }
      },
      "description": "Provides overdraft details for a specific tier or band"
    },
    "Address": {
      "type": "object",
      "properties": {
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "streetName": {
          "type": "string"
        },
        "buildingNumber": {
          "type": "string"
        },
        "postCode": {
          "type": "string"
        },
        "townName": {
          "type": "string"
        },
        "county": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addressType": {
          "type": "string",
          "enum": [
            "BUSINESS",
            "CORRESPONDENCE",
            "DELIVERY_TO",
            "MAIL_TO",
            "PO_BOX",
            "POSTAL",
            "RESIDENTIAL",
            "STATEMENT",
            "UNKNOWN"
          ]
        },
        "country": {
          "type": "string"
        },
        "department": {
          "type": "string"
        },
        "subDepartment": {
          "type": "string"
        }
      }
    },
    "AuthorisationRequestResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "userUuid": {
          "type": "string"
        },
        "applicationUserId": {
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        },
        "institutionId": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "AWAITING_AUTHORIZATION",
            "AWAITING_FURTHER_AUTHORIZATION",
            "AWAITING_RE_AUTHORIZATION",
            "AUTHORIZED",
            "CONSUMED",
            "REJECTED",
            "REVOKED",
            "FAILED",
            "EXPIRED",
            "UNKNOWN",
            "INVALID",
            "AWAITING_PRE_AUTHORIZATION",
            "PRE_AUTHORIZED",
            "AWAITING_DECOUPLED_AUTHORIZATION"
          ]
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "transactionFrom": {
          "type": "string",
          "format": "date-time"
        },
        "transactionTo": {
          "type": "string",
          "format": "date-time"
        },
        "expiresAt": {
          "type": "string",
          "format": "date-time"
        },
        "timeToExpireInMillis": {
          "type": "integer",
          "format": "int64",
          "description": "Deprecated. Use `timeToExpire` instead."
        },
        "timeToExpire": {
          "type": "string",
          "description": "ISO 8601 duration"
        },
        "featureScope": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INITIATE_PRE_AUTHORISATION",
              "INITIATE_ACCOUNT_REQUEST",
              "ACCOUNT_REQUEST_DETAILS",
              "ACCOUNTS",
              "ACCOUNT",
              "ACCOUNT_TRANSACTIONS",
              "ACCOUNT_STATEMENTS",
              "ACCOUNT_STATEMENT",
              "ACCOUNT_STATEMENT_FILE",
              "ACCOUNT_SCHEDULED_PAYMENTS",
              "ACCOUNT_DIRECT_DEBITS",
              "ACCOUNT_PERIODIC_PAYMENTS",
              "ACCOUNT_TRANSACTIONS_WITH_MERCHANT",
              "IDENTITY",
              "ACCOUNTS_WITHOUT_BALANCE",
              "ACCOUNT_WITHOUT_BALANCE",
              "ACCOUNT_BALANCES",
              "INITIATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENT_INITIATION_DETAILS",
              "CREATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENTS_DETAILS",
              "INITIATE_DOMESTIC_SINGLE_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_PAYMENT",
              "INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_DOMESTIC_SCHEDULED_PAYMENT",
              "CREATE_DOMESTIC_SCHEDULED_PAYMENT",
              "INITIATE_DOMESTIC_PERIODIC_PAYMENT",
              "CREATE_DOMESTIC_PERIODIC_PAYMENT",
              "PERIODIC_PAYMENT_FREQUENCY_EXTENDED",
              "INITIATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "CREATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "CREATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "INITIATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "CREATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "INITIATE_INTERNATIONAL_SINGLE_PAYMENT",
              "CREATE_INTERNATIONAL_SINGLE_PAYMENT",
              "INITIATE_BULK_PAYMENT",
              "CREATE_BULK_PAYMENT",
              "TRANSFER",
              "OPEN_DATA_PERSONAL_CURRENT_ACCOUNTS",
              "OPEN_DATA_ATMS",
              "READ_DOMESTIC_SINGLE_REFUND",
              "READ_DOMESTIC_SCHEDULED_REFUND",
              "READ_DOMESTIC_PERIODIC_PAYMENT_REFUND",
              "READ_INTERNATIONAL_SINGLE_REFUND",
              "READ_INTERNATIONAL_SCHEDULED_REFUND"
            ]
          }
        },
        "authorisationUrl": {
          "type": "string"
        },
        "consentToken": {
          "type": "string"
        },
        "qrCodeUrl": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "authorizedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SSAResult": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "institutionId": {
          "type": "string"
        },
        "ssaJwt": {
          "type": "string"
        }
      }
    },
    "Institution": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Country"
          }
        },
        "environmentType": {
          "type": "string",
          "enum": [
            "SANDBOX",
            "MOCK",
            "LIVE"
          ]
        },
        "credentialsType": {
          "type": "string",
          "enum": [
            "OAUTH1",
            "OAUTH2",
            "OAUTH2_NOSECRET",
            "OAUTH2_SIGNATURE",
            "OPEN_BANKING",
            "OPEN_BANKING_UK_MANUAL",
            "OPEN_BANKING_UK_AUTO",
            "OPEN_BANKING_IBM",
            "OPEN_BANKING_AUTO",
            "OPEN_BANKING_AUTO_EMAIL",
            "OPEN_BANKING_MANUAL",
            "API_KEY",
            "OPEN_BANKING_NO_KEY",
            "OPEN_BANKING_NO_TRANSPORT",
            "TOKEN_IO"
          ]
        },
        "media": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Media"
          }
        },
        "features": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INITIATE_PRE_AUTHORISATION",
              "INITIATE_ACCOUNT_REQUEST",
              "ACCOUNT_REQUEST_DETAILS",
              "ACCOUNTS",
              "ACCOUNT",
              "ACCOUNT_TRANSACTIONS",
              "ACCOUNT_STATEMENTS",
              "ACCOUNT_STATEMENT",
              "ACCOUNT_STATEMENT_FILE",
              "ACCOUNT_SCHEDULED_PAYMENTS",
              "ACCOUNT_DIRECT_DEBITS",
              "ACCOUNT_PERIODIC_PAYMENTS",
              "ACCOUNT_TRANSACTIONS_WITH_MERCHANT",
              "IDENTITY",
              "ACCOUNTS_WITHOUT_BALANCE",
              "ACCOUNT_WITHOUT_BALANCE",
              "ACCOUNT_BALANCES",
              "INITIATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENT_INITIATION_DETAILS",
              "CREATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENTS_DETAILS",
              "INITIATE_DOMESTIC_SINGLE_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_PAYMENT",
              "INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_DOMESTIC_SCHEDULED_PAYMENT",
              "CREATE_DOMESTIC_SCHEDULED_PAYMENT",
              "INITIATE_DOMESTIC_PERIODIC_PAYMENT",
              "CREATE_DOMESTIC_PERIODIC_PAYMENT",
              "PERIODIC_PAYMENT_FREQUENCY_EXTENDED",
              "INITIATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "CREATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "CREATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "INITIATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "CREATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "INITIATE_INTERNATIONAL_SINGLE_PAYMENT",
              "CREATE_INTERNATIONAL_SINGLE_PAYMENT",
              "INITIATE_BULK_PAYMENT",
              "CREATE_BULK_PAYMENT",
              "TRANSFER",
              "OPEN_DATA_PERSONAL_CURRENT_ACCOUNTS",
              "OPEN_DATA_ATMS",
              "READ_DOMESTIC_SINGLE_REFUND",
              "READ_DOMESTIC_SCHEDULED_REFUND",
              "READ_DOMESTIC_PERIODIC_PAYMENT_REFUND",
              "READ_INTERNATIONAL_SINGLE_REFUND",
              "READ_INTERNATIONAL_SCHEDULED_REFUND"
            ]
          }
        },
        "monitoring": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/MonitoringFeatureStatus"
          }
        }
      }
    },
    "IdentityAddress": {
      "type": "object",
      "properties": {
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "city": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "streetName": {
          "type": "string"
        },
        "buildingNumber": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "BUSINESS",
            "CORRESPONDENCE",
            "DELIVERY_TO",
            "MAIL_TO",
            "PO_BOX",
            "POSTAL",
            "RESIDENTIAL",
            "STATEMENT",
            "UNKNOWN"
          ]
        },
        "county": {
          "type": "string"
        }
      }
    },
    "MultiAuthorisation": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "numberOfAuthorisationRequired": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfAuthorisationReceived": {
          "type": "integer",
          "format": "int32"
        },
        "lastUpdatedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "expirationDateTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "OtherFeeRateType": {
      "type": "object",
      "properties": {
        "Code": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "description": "Other fee rate type code which is not available in the standard code set"
    },
    "ApiResponseOfUserDeleteResponse": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/ResponseMeta"
        },
        "data": {
          "$ref": "#/definitions/UserDeleteResponse"
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Consent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "userUuid": {
          "type": "string"
        },
        "applicationUserId": {
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        },
        "institutionId": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "AWAITING_AUTHORIZATION",
            "AWAITING_FURTHER_AUTHORIZATION",
            "AWAITING_RE_AUTHORIZATION",
            "AUTHORIZED",
            "CONSUMED",
            "REJECTED",
            "REVOKED",
            "FAILED",
            "EXPIRED",
            "UNKNOWN",
            "INVALID",
            "AWAITING_PRE_AUTHORIZATION",
            "PRE_AUTHORIZED",
            "AWAITING_DECOUPLED_AUTHORIZATION"
          ]
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "transactionFrom": {
          "type": "string",
          "format": "date-time"
        },
        "transactionTo": {
          "type": "string",
          "format": "date-time"
        },
        "expiresAt": {
          "type": "string",
          "format": "date-time"
        },
        "timeToExpireInMillis": {
          "type": "integer",
          "format": "int64",
          "description": "Deprecated. Use `timeToExpire` instead."
        },
        "timeToExpire": {
          "type": "string",
          "description": "ISO 8601 duration"
        },
        "featureScope": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INITIATE_PRE_AUTHORISATION",
              "INITIATE_ACCOUNT_REQUEST",
              "ACCOUNT_REQUEST_DETAILS",
              "ACCOUNTS",
              "ACCOUNT",
              "ACCOUNT_TRANSACTIONS",
              "ACCOUNT_STATEMENTS",
              "ACCOUNT_STATEMENT",
              "ACCOUNT_STATEMENT_FILE",
              "ACCOUNT_SCHEDULED_PAYMENTS",
              "ACCOUNT_DIRECT_DEBITS",
              "ACCOUNT_PERIODIC_PAYMENTS",
              "ACCOUNT_TRANSACTIONS_WITH_MERCHANT",
              "IDENTITY",
              "ACCOUNTS_WITHOUT_BALANCE",
              "ACCOUNT_WITHOUT_BALANCE",
              "ACCOUNT_BALANCES",
              "INITIATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENT_INITIATION_DETAILS",
              "CREATE_SINGLE_PAYMENT_SORTCODE",
              "EXISTING_PAYMENTS_DETAILS",
              "INITIATE_DOMESTIC_SINGLE_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_PAYMENT",
              "INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "CREATE_DOMESTIC_SINGLE_INSTANT_PAYMENT",
              "INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_DOMESTIC_SCHEDULED_PAYMENT",
              "CREATE_DOMESTIC_SCHEDULED_PAYMENT",
              "INITIATE_DOMESTIC_PERIODIC_PAYMENT",
              "CREATE_DOMESTIC_PERIODIC_PAYMENT",
              "PERIODIC_PAYMENT_FREQUENCY_EXTENDED",
              "INITIATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "CREATE_INTERNATIONAL_VARIABLE_RECURRING_PAYMENT",
              "INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "CREATE_INTERNATIONAL_SCHEDULED_PAYMENT",
              "INITIATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "CREATE_INTERNATIONAL_PERIODIC_PAYMENT",
              "INITIATE_INTERNATIONAL_SINGLE_PAYMENT",
              "CREATE_INTERNATIONAL_SINGLE_PAYMENT",
              "INITIATE_BULK_PAYMENT",
              "CREATE_BULK_PAYMENT",
              "TRANSFER",
              "OPEN_DATA_PERSONAL_CURRENT_ACCOUNTS",
              "OPEN_DATA_ATMS",
              "READ_DOMESTIC_SINGLE_REFUND",
              "READ_DOMESTIC_SCHEDULED_REFUND",
              "READ_DOMESTIC_PERIODIC_PAYMENT_REFUND",
              "READ_INTERNATIONAL_SINGLE_REFUND",
              "READ_INTERNATIONAL_SCHEDULED_REFUND"
            ]
          }
        },
        "consentToken": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "authorizedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ConsentDeleteResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "deleteStatus": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "FAILED"
          ]
        },
        "institutionId": {
          "type": "string"
        },
        "institutionConsentId": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "PersonalCurrentAccountData": {
      "type": "object",
      "properties": {
        "Brand": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonalCurrentAccountBrand"
          }
        }
      }
    },
    "NewApplicationUser": {
      "type": "object",
      "properties": {
        "applicationUserId": {
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        }
      }
    },
    "InlineResponse2001OtherATMServices": {
      "type": "object",
      "properties": {
        "Code": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "description": "Enter a new code , name and description for any other ATM Service"
    },
    "Identity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "birthdate": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IdentityAddress"
          }
        }
      }
    },
    "ApiResponseOfSSAResult": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/ResponseMeta"
        },
        "data": {
          "$ref": "#/definitions/SSAResult"
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationUser": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "User UUID"
        },
        "applicationUuid": {
          "type": "string"
        },
        "applicationUserId": {
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        },
        "institutionConsents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionConsent"
          }
        }
      }
    },
    "AgeEligibility": {
      "type": "object",
      "properties": {
        "MaximumAge": {
          "type": "number",
          "format": "float"
        },
        "MinimumAge": {
          "type": "number",
          "format": "float"
        },
        "Notes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Age eligibility that a person should be to hold this account"
    },
    "ApiListResponseOfInstitution": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/ResponseListMeta"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Institution"
          }
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PersonalCurrentAccountBrand": {
      "type": "object",
      "properties": {
        "BrandName": {
          "type": "string"
        },
        "PCA": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonalCurrentAccountPCA"
          }
        }
      },
      "description": "Brand registered by the banking group at https://register.fca.org.uk/"
    },
    "Balances": {
      "type": "object",
      "properties": {
        "mainBalanceAmount": {
          "$ref": "#/definitions/Amount"
        },
        "balances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountBalance"
          }
        }
      }
    },
    "OtherBankInterestType": {
      "type": "object",
      "properties": {
        "Code": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "description": "Other interest rate types which are not available in the standard code list"
    },
    "Next": {
      "type": "object",
      "properties": {
        "before": {
          "type": "string",
          "format": "date-time"
        },
        "cursor": {
          "type": "string"
        },
        "from": {
          "type": "string",
          "format": "date-time"
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PaymentAuthorisationRequest": {
      "type": "object",
      "required": [
        "callback",
        "institutionId",
        "oneTimeToken",
        "paymentRequest"
      ],
      "properties": {
        "userUuid": {
          "type": "string",
          "description": "Uuid of the application user who will authorise access to their data. Either the userUuid or applicationUserId must be provided."
        },
        "applicationUserId": {
          "type": "string",
          "description": "Descriptive identifier for the application user.Either the userUuid or applicationUserId must be provided."
        },
        "forwardParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "institutionId": {
          "type": "string"
        },
        "callback": {
          "type": "string"
        },
        "oneTimeToken": {
          "type": "boolean",
          "example": false
        },
        "totalMaxAmount": {
          "type": "number"
        },
        "totalMaxAmountFrequency": {
          "type": "string",
          "enum": [
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ]
        },
        "maxAmountPerRequest": {
          "type": "number"
        },
        "startsAt": {
          "type": "string",
          "format": "date-time"
        },
        "expiresAt": {
          "type": "string",
          "format": "date-time"
        },
        "allowOverdraft": {
          "type": "boolean",
          "example": false
[...]
